<p id="notice"><%= notice %></p>

<h1>Acervo de Vídeos</h1>

<%= link_to "<i class='fas fa-plus-circle'></i> Novo".html_safe, new_video_path, class: 'btn btn-primary' %>
<br>
<br>

<div class="container">
  <div class="row">
    <% if @videos.count > 0 %>
      <% @videos.each do |video| %>

        <div class="col-md-6">

          <div class="card">
            <div class="card-header">
              <strong>Nome:</strong>
              <%= video.name %>
            </div>

            <div class="card-content text-center">
              <div class="wrapper">
                <div class="videocontent">
                  <video
                    id="my_video_1"
                    class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered"
                    preload="auto"
                    data-setup='{"fluid": true}'>
                    <source src= "<%= video.url %>" type="application/x-mpegURL">
                  </video>
                </div>
              </div>
              <div class="btn-group" role="group">
                <%= link_to "<i class='fas fa-info-circle'></i> Detalhar".html_safe, video, class: 'btn btn-info btn-sm' %>
                <%= link_to "<i class='fas fa-edit'></i> Alterar".html_safe, edit_video_path(video), class: 'btn btn-primary btn-sm' %>
                <%= link_to "<i class='fas fa-trash'></i> Excluir".html_safe, video, method: :delete, data: { confirm: 'Deseja excluir o vídeo: ' + video.name + '?' }, class: 'btn btn-danger btn-sm' %>
              </div>
          </div>
          </div>
        </div>
      <% end %>
    <% else %>
    Não existe(m) vídeo(s) para visualizar!
    <% end %>
  </div>
</div>

  