<p id="notice"><%= notice %></p>

<h1>Acervo de Vídeos</h1>

<%= link_to "<i class='fas fa-plus-circle'></i> Novo".html_safe, new_video_path, class: 'btn btn-primary' %>
<br>
<br>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Url</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><%= video.url %></td>
        <td><%= link_to "<i class='fas fa-info-circle'></i>".html_safe, video %></td>
        <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_video_path(video) %></td>
        <td><%= link_to "<i class='fas fa-trash'></i>".html_safe, video, method: :delete, data: { confirm: 'Deseja excluir o vídeo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>