<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><%= video.url %></td>
        <td><%= link_to 'Detalhar', video %></td>
        <td><%= link_to 'Alterar', edit_video_path(video) %></td>
        <td><%= link_to 'Excluir', video, method: :delete, data: { confirm: 'Deseja excluir o video?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Video', new_video_path %>
