<!DOCTYPE html>
<html>
  <head>
    <title>Vídeos App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <%= render 'shared/nav' %>
      <%= yield %>
    </div>
  </body>
  <%= render 'shared/footer' %>
</html>


 <link href="https://unpkg.com/video.js@5.16.0/dist/video-js.css" rel="stylesheet">
 <script src="https://unpkg.com/video.js@5.16.0/dist/video.js"></script>
 <script src="https://unpkg.com/videojs-contrib-hls@4.1.1/dist/videojs-contrib-hls.js"></script>
